    /* Start Var */
    
     :root {
        --main-color: #19c8fa;
        --transparent-color: rgb(15 116 143 / 60%);
        --section-padding: 100px;
    }
    /* End Var */
    /* Start Globel Rules */
    
    * {
        box-sizing: border-box;
        margin: 0;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
    }
    
    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        min-height: 97px;
    }
    /* Small */
    
    @media (min-width:768px) {
        .container {
            width: 750px;
        }
    }
    /* Medium */
    
    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }
    /* Large */
    
    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }
    /* End Globel Rules */
    /* Start Components */
    
    .main-heading {
        text-align: center;
    }
    
    .main-heading h2 {
        position: relative;
        font-size: 40px;
        font-weight: normal;
        color: #1f2021;
        letter-spacing: 2px;
        margin-top: 100px;
        margin-bottom: 70px;
        text-transform: uppercase;
    }
    
    .main-heading h2::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        bottom: -30px;
    }
    
    .main-heading h2::after {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        border: 2px solid #333;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        bottom: -38px;
        background-color: white;
    }
    
    .main-heading p,
    .services .services-container div p {
        font-size: 17px;
        font-weight: 300;
        line-height: 2;
        color: #777;
        width: 550px;
        margin: 0 auto 100px;
        max-width: 100%;
    }
    /* End Components */
    /* start-nav */
    
    header {
        left: 0;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
    
    header .container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        min-height: 93px;
    }
    
    header .container::after {
        content: '';
        width: calc( 100% + 20px);
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 15px;
        background-color: white;
    }
    
    header nav {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }
    
    nav .link ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    
    nav .link ul li {
        font-size: 18px;
    }
    
    nav .link ul li a {
        font-size: 19px;
        color: white;
        padding: 40px 15px;
        text-decoration: none;
        transition-duration: 0.5s;
        z-index: 6;
        position: relative;
    }
    
    nav .link ul li a.active,
    nav .link ul li a:hover {
        text-decoration: none;
        color: var(--main-color);
        border-bottom: 1px solid var(--main-color);
    }
    
    .search i {
        font-size: 30px;
        padding-left: 14px;
        position: absolute;
        top: 45%;
        color: white;
        transform: translateY(-50%);
        border-left: 2px solid white;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
    /* end-nav */
    /* start-landing */
    
    .landing {
        padding-top: 200px;
        display: flex;
        position: relative;
        background-image: url(/images/landing.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
    
    .landing::before,
    .design::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #504a5a36;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .landing::after {
        content: "";
        width: 50%;
        height: 350px;
        background-color: rgb(76 175 152 / 51%);
        position: absolute;
        left: 0;
        top: 162px;
    }
    
    .landing div:first-child,
    .landing div:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 23px;
        color: white;
        margin-top: -140px;
        z-index: 1;
    }
    
    .landing .hello {
        width: calc(50% - 50px);
        letter-spacing: 0.13px;
        line-height: 29px;
        color: white;
        z-index: 1;
    }
    
    .landing div:nth-child(3) {
        position: absolute;
        left: 90%;
        top: 70%;
        display: block;
    }
    
    .landing div:last-child {
        margin-top: 315px;
        color: white;
        font-size: 20px;
    }
    
    .landing div:last-child i {
        padding: 10px;
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
    }
    
    .landing div:last-child i:nth-child(2) {
        color: var(--main-color);
    }
    
    @media (max-width:768px) {
        .landing::after {
            content: "";
            width: 100%;
            height: 350px;
            background-color: rgb(76 175 152 / 51%);
            position: absolute;
            left: 0;
            top: 162px;
        }
        .landing .hello {
            text-align: center;
            width: 100% !important;
        }
        .landing div:first-child,
        .landing div:nth-child(3) {
            display: none !important;
        }
        .landing div:last-child {
            margin-left: -437px;
        }
    }
    /* end-landing */
    /* start-services */
    
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
    
    .services .services-container div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: calc( 100% - 70px);
    }
    
    .services .services-container div i {
        font-size: 40px;
        color: black;
        font-weight: bolder;
    }
    
    .services .services-container div h2 {
        color: var(--main-color);
        font-size: 20px;
    }
    
    @media (max-width:756px) {
        .services .services-container div i {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 35px;
        }
        .services .services-container div .text p,
        .services .services-container div .text h2 {
            display: flex;
            max-width: 100%;
            justify-content: center;
            line-height: 2;
        }
        .services .services-container div .text h2 {
            margin-left: 133px;
        }
        .services .services-container div .text p {
            text-align: center;
            margin-left: 50px;
        }
    }
    /* end-services */
    /* start-design */
    
    .design {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        background-image: url(/images/design-features.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .design .image {
        max-width: 300px;
        top: 60px;
    }
    
    .design .image,
    .design .text {
        margin-top: 137px;
        position: relative;
        z-index: 1;
    }
    
    .design .text::after {
        content: "";
        position: absolute;
        width: 111%;
        height: 90%;
        background-color: var(--transparent-color);
        left: -40px;
        bottom: 100px;
        z-index: -2;
    }
    
    .design .text .head {
        color: white;
        font-size: 40px;
    }
    
    .design .text ul li {
        list-style: none;
        color: white;
        margin-left: -50px;
    }
    
    .design .text ul li i {
        padding: 20px;
    }
    
    @media (max-width:870px) {
        .design .image {
            display: none;
        }
        .design .text {
            top: -40px;
            width: 100%;
            text-align: left;
        }
        .design .text::after {
            height: 110%;
            top: -33px;
            z-index: -2;
        }
    }
    /* end-design */